@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Quicksand:wght@600&family=Rubik&display=swap");

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: o !important;
  margin: 0 !important;
}
.container {
  width: 90% !important;
  max-width: 900px !important;

  margin: 0 auto !important;
  padding: 0;
  overflow-x: hidden;
}

.section-name {
  font-size: 1.8rem;
  width: fit-content;
  border-bottom: 2px solid black;
  color: white;
  background-color: #0096ff;
  margin-bottom: 2.4rem !important;
}
@media (max-width: 668px) {
  .section-name {
    margin-inline: auto !important;
  }
}
